.login-view {
  color: black;

  .login-header {
    font-size: 32px;
  }
  .login-title {
    margin-top: 100px;
    display: block;
    font-size: 24px;
  }
  .login-info {
    display: block;
    font-size: 16px;
  }

  .form-login-container {
    margin-top: 40px;
  }

}
